<div name="registration">
    <form name="registration" action="" method="post">
        <table class="align">
            <tr><td>Имя: </td><td><input type="text" name="username" placeholder="Имя" value="<?=$data['username']?>"></td></tr>
            <tr><td>Фамилия: </td><td><input type="text" name="surname" placeholder="Фамилия" value="<?=$data['surname']?>"></td></tr>
            <tr><td>e-mail: </td><td><input type="email" name="email" placeholder="e-mail" value="<?=$data['email']?>"></td></tr>
            <tr><td>Номер телефона: </td><td><input type="text" name="phone" placeholder="Номер телефона" value="<?=$data['phone']?>"></td></tr>
            <tr><td>Пароль: </td><td><input type="password" name="password" placeholder="Пароль"></td></tr>
            <tr><td>Повторите пароль: </td><td><input type="password" name="r-password" placeholder="Повторите пароль"></td></tr>
            <tr><td></td><td><input type="submit" name="registration-btn" value="Зарегистрироваться"></td></tr>
        </table>
    </form>
</div>