<h1><?=$data['good'][0]['good_name']?></h1>
<figure>
    <img  class="main-img" src="/img/goods/<?=App::getRouter()->getParams()[0]?>/<?=App::getRouter()->getParams()[1]?>.jpg">
</figure>
<p><?=$data['good'][0]['description']?></p>
<form method="post">
    <table class="attribute">
        <tr>
            <td>Название:</td>
            <td>
               <input size="70" name="good_name" value="<?=$data['good'][0]['good_name']?>">
            </td>
        </tr>

        <tr>
            <td>
                Описание
            </td>
            <td>
                <textarea name="description" rows="20" cols="70"><?=$data['good'][0]['description']?></textarea>
            </td>
        </tr>
        <?php
        foreach($data['attributes'] as $good_data) {
            if( $data['good'][0]['good_name'] !== $good_data['good_name'] ){
                unset($good_data['attribut_value']);
            }
        ?>
        <tr>
            <td><?=$good_data['attribut_name']?></td>
            <td>
                <input name="attributes[attribut_value][]" value="<?=$good_data['attribut_value']?>">
                <input type="hidden" name="attributes[attribut_id][]" value="<?=$good_data['attribut_id']?>">
                <input type="hidden" name="attributes[good_attribute_id][]" value="<?=$good_data['good_attribute_id']?>">
            </td>
        </tr>
        <?php } ?>
        <tr>
            <td>
                Цена
            </td>
            <td>
                <div class="price">
                    <input name="price"  value="<?=$data['good'][0]['price']?>" >Грн
                </div>
            </td>
        </tr>
    </table>
    <input type="hidden" name="good_id" value="<?=$data['good'][0]['good_id']?>">
    <input type="hidden" name="good_type_id" value="<?=$data['good'][0]['good_type_id']?>">
    <input type="submit" name="edit-btn" value="Изменить">
</form>